
upstream app_servers {
	server {{ server_1_ip }}:80;
	server {{ server_2_ip }}:80;
}

server {
	listen 80;
	server_name test.papavonning.com www.test.papavonning.com;


	location / {
		proxy_pass http://app_servers;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
	}

}



